<h2> Les six premiers Pokémons </h2>
<p> Dans l'ordre du pokedex : </p>
<form #formPokemon="ngForm">
  <input type="text" name="pokemon" ngModel
         (keyup)="envoyer(formPokemon.value.pokemon)">

  <button type="reset" (click)="reinitRecherche()">
  Réinitialiser
</button>
</form>
<h5 *ngIf="msg"> Le Pokémon sélectionné est :  {{msg}}</h5>
<h6> {{cpteur}} pokémons en base de données </h6>
<div class="row">
  <div *ngIf="pokemons.length<1">Aucun pokémon trouvé</div>
<p *ngFor="let unObj of pokemons" class="col-4">
<app-pokemon [unObjetPokemon]= unObj (unEvenement)="msg=$event"></app-pokemon>
</p>
</div>

